@media (max-width: 1024px) {
  .section .section__inner h2 {
    font-size: clamp(2.8rem, 5.091vw, 3.5rem);
  }
  .section1 .section1__inner .notice-box {
    flex-direction: column;
    align-items: center;
  }
  .section1 .section1__inner .notice-box h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .section1 .section1__inner .notice-box .notice-detail {
    width: 100%;
  }
  .section1 .section1__inner .notice-box .notice-detail h3 {
    margin-top: 5rem;
  }
  .section1 .section1__inner .pagination ul li {
    margin: 0 1rem;
  }
  .section3 {
    border-radius: unset;
    margin-bottom: unset;
  }
  .section3 .section3__inner p.section-sub-title {
    font-size: clamp(1.6rem, 2.909vw, 2.2rem);
  }
  .section3 .section3__inner .counsel-box li a img {
    width: clamp(35px, 4.557vw, 50px);
  }
}
@media (max-width: 768px) {
  .section1 .section1__inner .notice-box .write-btn {
    margin: 2.5rem 0;
    font-size: clamp(1.5rem, 2.727vw, 1.6rem);
  }
  .section1 .section1__inner .notice-box .write-btn a {
    max-width: clamp(80px, 14.545vw, 105px);
    height: 40px;
    line-height: 40px;
  }
  .section1 .section1__inner .search-box input {
    width: clamp(150px, 27.273vw, 250px);
    height: 40px;
    line-height: 40px;
  }
  .section1 .section1__inner .search-box .search-btn {
    max-width: clamp(80px, 14.545vw, 105px);
    height: 40px;
    line-height: 40px;
  }
}
@media (max-width: 550px) {
  .my-page-menu-box .my-page-menu__inner ul li {
    width: clamp(100px, 25vw, 137px);
    font-size: clamp(1.4rem, 2.545vw, 1.6rem);
  }
  .section1 .section1__inner .notice-box h3 {
    font-size: 2.5rem;
  }
  .section3 .section3__inner .counsel-box li {
    max-width: 100px;
    height: 93px;
  }
  .section3 .section3__inner .counsel-box li a {
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.4rem, 1.366vw, 1.6rem);
  }
  .section3 .section3__inner .counsel-box li a img {
    width: clamp(35px, 4.557vw, 50px);
    margin-right: unset;
    margin-bottom: 10px;
  }
}