@media (max-width: 1024px) {
  .header-main-container {
  }
  .section1 {
    .section1__inner {
      form {
        width: unset;
        input {
          max-width: unset;
        }
      }
    }
  }

  .section3 {
    border-radius: unset;
    margin-bottom: unset;
  }
}
